@import url("/node_modules/@fortawesome/fontawesome-free/css/all.min.css");
@import url("/node_modules/@fontsource/roboto/index.css");

html {
  font-family: roboto, sans-serif;
}

/* * {
  margin: 0 auto;
}
 */

.container {
  background-color: rgba(54, 181, 54, 0.689);
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 20px;
}

span {
  padding: 20px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
}

section {
  padding: 20px;
  background-color: rgb(254, 254, 62);
  display: flex;
  justify-content: space-between;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: aquamarine;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

.container2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* input[type="checkbox"] {
  border-radius: 10px;
}
 */

.tachado {
  text-decoration: line-through;
}
